
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gadgetContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.gadgetCard{
  border: 1px solid hsl(0, 1%, 26%);
  padding: 15px;
  border-radius: 8px;
  transition: 0.3s;
  box-shadow: 2px 3px 4px rgba(0,0,0,0.2); 
}

.gadgetCard:hover{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.81);
}

.gadgetCard img{
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
}

.gadgetCard a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 10px;
  background: hsl(211, 92%, 67%);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.25s ease;
}

.gadgetCard a:hover{
  background-color: blue;
  transform: scale(1.05);
}