
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gadgetContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.gadgetCard{
  border: 1px solid hsl(0, 1%, 26%);
  padding: 15px;
  border-radius: 8px;
  transition: 0.3s;
  box-shadow: 2px 3px 4px rgba(0,0,0,0.2); 
}

.gadgetCard:hover{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.81);
}

.gadgetCard img{
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
}

.gadgetCard a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 10px;
  background: hsl(211, 92%, 67%);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.25s ease;
}

.gadgetCard a:hover{
  background-color: rgb(37, 199, 244); 
  transform: scale(1.05);
}

.gadgetCard a:active{
  border: 1px solid rgba(0, 0, 0, 0.81);
  background-color: rgb(87, 87, 255);
}

.detailsContainer{
  max-width: 700px;
  padding: 30px auto;
  padding: 20px;
}

.detailsContainer img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
}

.detailsContainer h2{
  font-size: 28px;
  margin-top: 20px;
}

.backButton{
  margin-top: 20px;
  padding: 10px 15px;
  background: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}