
*{
  margin: 0;
  padding: 0;
  font-family: Poppins;
  box-sizing: border-box;
}

body {
  background: #f7f9fc;
  padding: 30px;
  color: #333;
}


h1{
  text-align: center;
  margin-bottom: 24px;
  font-size: 2.2rem;
  color: hsl(228, 92%, 63%);
  font-weight: 700;
}

form{
  background: whitesmoke;
  padding: 20px;
  margin: 0 auto 25px;
  max-width: 600px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08) ;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

form input,
form textarea{
  padding: 12px;
  border: 1px solid hsl(0, 0%, 87%);
  border: 8px;
  font-size: 0.95rem;
  outline: none;
}


form input:focus,
form textarea:focus {
  border-color: #4a6cf7;
  box-shadow: 0 0 5px rgba(74, 108, 247, 0.35);
}

form button {
  padding: 12px;
  background: hsl(228, 92%, 63%);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

form button:hover {
  background: #2f52d6;
}