
.appContainer{
    margin: auto;
    padding: 20px;
    max-width: 900px;
    font-family: Arial;
}

.appTitle{
    text-align: center;
    margin-bottom: 20px;
}

.searchBar{
    text-align: center;
    margin-bottom: 12px;
}

.searchBarInput{
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.filterBar{
    text-align: center;
    margin-bottom: 20px;
}

.filterBarSearch{
    font-size: 16px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid rgb(170, 170, 170);;
}

.productGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.productCard{
    padding: 16px;
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 8px;
    background: hsl(0, 0%, 100%);
    transition: all 0.2s ease;
    cursor: pointer;
}

.productCard:hover{
    background: #f0f0f0;
    transform: scale(1.1);
}

.productPrice{
    font-weight: bold;
    margin: 6px 0;
}

.productCategory{
    font-size: 14px;
    color: hsl(0, 0%, 33%);
    font-style: italic;
}

.stock{
    display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    margin-top: 6px;
}

.Available{
    background: hsl(122, 39%, 49%);
    color: hsl(0, 0%, 100%);
}

.notAvailable{
    background: hsl(0, 65%, 51%);
    color: hsl(0, 0%, 100%);
}

.loadingState{
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
}

.emptyState{
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
    color: hsl(0, 0%, 27%);
}