
.mainContainer{
    display: flex;
    flex: 1;
    overflow: hidden;
}

/* Navbar Styling */

.mainNavBar{
    background-color: rgb(3, 128, 3);
    color: rgb(246, 235, 235);
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navBarContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBarModes{
    display: flex;
    align-items: center;
    gap: 22px;
}

.navBarRight{
    display: flex;
    align-items: center;
    gap: 22px;
}

.navBarTitle{
    margin: 0;
    font-size: 20px;
    font-weight: 700;

}

.menuButtons{
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    background-color: rgb(3, 128, 3);
    color: white;
    font-size: 20px;
}

.menuButtons:hover{
    background-color: rgb(3, 130, 3);
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

.loginButton{
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    background-color: rgb(3, 128, 3);
    color: white;
    cursor: pointer;
}

.loginButton:hover{
    background-color: rgb(3, 130, 3);
    box-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

.textMessage{
    font-size: 18px;
}

/* SideBar Styling */

.sidebar{
  background-color: #013401;
  color: white;
  transition: all 0.3s ease;
  overflow: hidden;
}


.sideBarClosed{
    width: 0;
    padding: 0;
}

.sideBarOpened{
    width: 250px;
    padding: 20px;
}

.sideBarTitle{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 0;
}

.menuList{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuItem{
    margin-bottom: 8px;
}

.menuItemButton{
    width: 100%;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
    color: white;
    text-align: left;
    font-size: 16px;
    background-color: transparent;
    transition: background-color 0.2s;
}

.menuItemButton:hover {
  background-color: rgb(3, 122, 3);
}

.menuItemButton:active {
  background-color: rgb(15, 151, 15);
}