
.mainContainer{
    display: flex;
    flex: 1;
    overflow: hidden;
}

.mainNavBar{
    background-color: rgb(3, 128, 3);
    color: rgb(246, 235, 235);
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) 
}

.navBarContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}