
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body, html{
  height: 100%;
  margin: 0;
}

.formContainer{
  background: rgb(227, 241, 247);
  width: 420px;
  margin: 60px auto;
  padding: 24px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.formContainer h2{
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.field{
  margin-bottom: 14px;
}

.field label{
  display: block;
  margin-bottom: 4px;
  font-weight: 500;
}

.field input, .field select{
  width: 100%;
  padding: 8px 14px;
  border: 1px solid hsl(0, 0%, 73%);
  border-radius: 6px;
  font-size: 14px;
  outline: none;
}

.field input:focus, .field select:focus{
  border-color: hsl(212, 72%, 59%);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.buttons button{
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.2s ease-in-out;
}

.buttons button:first-child{
  background-color: hsl(0, 0%, 88%);
}

.buttons button:last-child{
  background-color: hsl(212, 72%, 59%);
  color: white;
}

.buttons button:hover{
  opacity: 0.9;
  background-color: hsl(211, 86%, 66%);
}

.error{
  color: red;
  font-size: 13px;
  font-weight: 500;
  margin-top: 5px;
}

h2{
  margin-bottom: 20px;
  text-align: center;
}

h3{
  margin-top: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

p{
  margin-bottom: 8px;
  font-size: 16px;
}

.appBackground{
  min-height: 100vh;
  width: 100%;

  background-image: url('./public/Images/backgroundImage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.appBackground::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 0;
}

.appContent {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}