
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(to left, rgb(208, 250, 208), rgb(186, 186, 249));
  color: hsl(0, 0%, 13%);
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Styling for App */
.appContainer{
    width: 100%;
    background: rgb(250, 242, 242);
    max-width: 600px;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
    transition: 0.3s ease;
}

.appContainer h1, .appContainer h2{
    font-weight: 600;
    margin-bottom: 15px;
}

/* Home Page */
.homePage{
    text-align: center;
    padding: 40px 20px;
    animation: fadeIn 0.8s ease-out;
}

@keyframes fadeIn{
    from {opacity: 0};
    to {opacity: 1};
}

.homePageTitle{
    font-size: 36px;
    font-weight: 700;
    background: linear-gradient(135deg, #7c94fc 0%, #8259ab 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 10px;
    animation: slideInUp 0.8s ease-out;
}

@keyframes slideInUp{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.homePageContent{
    font-size: 18px;
    color: hsl(0, 0%, 40%);
    animation: slideInUp 0.8s ease-out 0.2s backwards;
}
