
form{
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(14px);
  padding: 24px;
  margin: 0 auto 32px;
  max-width: 650px;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12) ;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form input,
form textarea{
  padding: 14px;
  border: 1px solid hsl(0, 0%, 87%);
  border: 10px;
  font-size: 0.95rem;
  background: hsla(0, 0%, 100%, 0.922);
  transition: 0.25s ease;
}


form input:focus,
form textarea:focus {
  border-color: rgb(74, 108, 247);
  box-shadow: 0 0 5px rgba(74, 108, 247, 0.35);
}

form button {
  padding: 14px;
  background: linear-gradient(135deg, #726bf7, #61f961);
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.25s;
}

form button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 16px rgba(99, 102, 241, 0.35);
}