.bookCard {
  background: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 18px;
  border-left: 6px solid rgb(255, 212, 149);
  box-shadow: 0 6px 14px rgba(255, 188, 142, 0.2);
  transition: 0.3s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.bookCard::before {
  content: "";
  position: absolute;
  top: -40%;
  left: -40%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255,219,88,0.22), transparent 50%);
  transform: rotate(25deg);
  transition: 0.4s ease;
  opacity: 0;
  pointer-events: none;
  z-index: 0;
}

.bookCard:hover::before {
  opacity: 1;
}

.bookCard:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.bookCard h3,
.bookCard p,
.bookCard .genreBadge,
.bookCard .bookCardControls {
  position: relative;
  z-index: 1;
}

.genreBadge {
  display: inline-block;
  padding: 4px 10px;
  margin-top: 6px;
  border-radius: 12px;
  font-size: 0.85rem;
  font-weight: 500;
  color: white;
}


.notes {
  margin-top: 8px;
  font-size: 0.95rem;
  color: hsl(217, 19%, 27%);
}

.bookCardControls {
  display: flex;
  gap: 12px;
  margin-top: 16px;
  cursor: pointer;
}

.toggleReadButton,
.toggleFavoriteButton,
.deleteButton {
  padding: 10px 16px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  transition: 0.25s ease;
}

.toggleReadButton {
  background: hsl(142, 77%, 73%);
}

.toggleReadButton:hover {
  background: hsl(142, 69%, 58%);
}


.toggleFavoriteButton {
  background: hsl(48, 97%, 77%);
}

.toggleFavoriteButton:hover {
  background: hsl(43, 96%, 56%);
}

.deleteButton {
  background: hsl(0, 94%, 82%);
}

.deleteButton:hover {
  background: hsl(0, 91%, 71%);
}