

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(247, 230, 230);
}

.appContainer{
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.appHeader{
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  padding: 10px 10px;
}

.appHeader h1{
  font-size: 3rem;
  font-weight: 700;
  color: rgb(21, 18, 18);
  margin-bottom: 8px;
  animation: fadeInUp 0.6s ease;

}

.appHeader p{
  font-size: 1.25rem;
  color: hsl(0, 1%, 36%);
  opacity: 0.8;
  animation: fadeInUp 0.9s ease;
}

.appHeader::after {
  content: "";
  width: 80px;
  height: 4px;
  background: rgb(50, 50, 50);
  border-radius: 5px;
  display: block;
  margin: 12px auto 0;
  opacity: 0.5;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cardContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 10px;
  justify-items: center;
}
