
.cardContainer{
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    margin: 20px;
    margin: 10px;
    border: 1px solid rgb(239, 235, 235);

}

.cardImage{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cardImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardContent{
    text-align: center;
    padding: 15px;
}